*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site {
    width: 600px;
    height: 400px;
    margin: 20px auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.main-box-one, .main-box-two {
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
}

.box-one {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

.box-one div:nth-child(1), .box-one div:nth-child(2) {
    flex-grow: 1;
    border-right: 1px solid black;
    display: flex;
}

.box-one div:nth-child(2) div, .box-two div:nth-child(2) div {
    flex-grow: 1;
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
}

.box-two {
    flex-grow: 2;
}

/* Border Remove */
.main-box-one {
    border-bottom: 0;
}

.box-one div:nth-child(2) div:nth-child(1), .box-two div:nth-child(2) div:nth-child(1) {
    border-left: 0;
}