*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site {
    gap: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    height: 300px;
    width: 80px;
}

span {
    border: 1px solid black;
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
