@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

html {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.2em;
}

body {
    padding-bottom: 100px;
}

/* Table */
table {
    border-collapse: collapse;
    margin: 0 auto;
    overflow: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

td {
    border: 1px solid rgb(153, 153, 153);
    width: 10px;
    height: 10px;
}

td.black {
    background-color: rgb(126, 126, 126);
}

td.white {
    background-color: #ffff00;
}

/* Header */
.header-bar {
    display: flex;
    justify-content: space-between;

    padding: 0.6em;
    background-color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button {
    cursor: pointer;
    border: 0;
    padding: 5px 0;
    border-radius: 3px;
    font-size: 1.3em;
    height: 1.7em;
}

.main-button {
    background-color: orangered;
    color: rgba(0, 0, 0, 0.5);
    width: 3.3em;
}

.randomize-button, .clear-button, .next-button {
    padding: 0 20px;
}

.slider-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.slider-container label {
    color: white;
}

/* Slider design */
.slider {
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 3px;  
    background: #D1D0D0;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0 10px 0 10px;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: rgba(255, 68, 0, 0.6);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#speed-slider {
    direction: rtl;
}
/* Slider design (end) */

.dimensions-container {
    padding: 5px 10px 0 10px;
    margin-bottom: 10px;
    color: gray;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
}

#fadeout {
    display: none;
    background-color: rgba(255, 68, 0, 0.8);
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    padding: 0 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#fadeout i {
    padding-right: 5px;
}